navbar {
	background-color: rgba(44, 62, 80,1.0);
	display: block;
	padding: 20px;
}

navbar h1 {
	margin: 0;
}

navbar ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

navbar ul li {
	display: inline-block;
}

navbar ul li a {
	color: white;
	font-size: 24px;
	padding: 0px 10px;
	text-decoration: none;
}

body {
	background-color: rgba(52, 73, 94,1.0);
	color: white;
	font-family: "Roboto", "sans-serif";
	margin: 0;
}
