{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body %}
	<div id="index">
		{% if logged_in %}
		<p>This application allows the user to upload image files, tag them and filter them with the given tags.</p>
		<h4>Tips</h4>
		<ul>
			<li>Tags may not contain spaces</li>
			<li>Search field suggests autocompletions, use arrow keys and enter to navigate them.</li>
			<li>Example: searching with: tag1 tag2 -tag3, displays results that have tag1 AND tag2, but NOT tag3.</li>
			<li>Currently supporting only common image file formats (png, jpg), but support for other files could be added.</li>
		</ul>
		{% else %}
		<h3>Please register or log in</h3>
		<p>This application is a demo for course TKT20011</p>
		{% endif %}
	</div>
{% endblock %}
