{% extends "layout.html" %}

{% block body %}
	<form method="post">
		<input type="text" name="tags_to_add" autocomplete="off" placeholder="Tags separated by space">
		<input type="hidden" name="session_token" class="session_token">
		<input type="submit" value="Add tag(s)">
	</form>
	<form method="post">
		<input type="hidden" name="delete">
		<input type="hidden" name="session_token" class="session_token">
		<input type="submit" value="Delete">
	</form>
	<ul>
		{% for tag in tags %}
		<li>
			<form method="post">
				<a href="/search?include={{tag}}">{{tag}}</a>
				<input type="hidden" name="session_token" class="session_token">
				<input type="hidden" name="tag_to_remove" value="{{tag}}">
				<input type="submit" value="x">
			</form>
		</li>
		{% endfor %}
	</ul>
	<script type="module">
		import Cookies from "/static/js/js.cookie.mjs"
		const session_token = Cookies.get("session_token");
		const elements = document.getElementsByClassName("session_token")
		for(let i=0; i<elements.length; i++)
			elements[i].value = session_token;
	</script>
	<img src="uploads/{{filename}}"></img>
{% endblock %}
